<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-dody">
          <h1 class="text-center mt-4 mb-4">
            <span class="text-primary">Books panel</span> Login
          </h1>
          <form novalidate #form="ngForm" (ngSubmit)="onSubmit( )">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text"
                     class="form-control"
                     id="email"
                     [(ngModel)]="email"
                     name="email"
                     required
              >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     [(ngModel)]="password"
                     name="password"
                     required
              >
            </div>
            <button class="btn btn-primary btn-block" [disabled]="form.invalid">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

